#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>1z
#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        &kp N1 &kp N2 &kp N3 &kp N4  &kp N5         &kp N1                               &kp N4    &kp N6    &kp N7 &kp N8    &kp N9  &kp N0
&kp TAB &kp Q  &kp W  &kp F  &kp P   &kp G          &kp N2                               &kp N5    &kp J     &kp L  &kp U     &kp Y   &kp SEMI      &kp APOS
&kp ESC &kp A  &kp R  &kp S  &kp T   &kp D          &kp N3                               &kp N6    &kp H     &kp N  &kp E     &kp I   &kp O         &kp MINUS
&kp DEL &kp Z  &kp X  &kp C  &kp V   &kp B                                                         &kp K     &kp M  &kp COMMA &kp DOT &kp BACKSLASH &kp PLUS
                                                    &kp N7       &kp N8         &kp N9   &kp N0
                             &kp N1  &kp LEFT_SHIFT &kp LEFT_WIN &kp LCTRL      &kp RALT &kp ENTER &kp SPACE &kp N2
        };
    };
};
